@import 'iconfont.css';
.message {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 2.5%;
  width: 95%;
  top: 20%;
  padding-top: .15rem;
  background-color: #fff;
  min-height: 1rem;
  border-radius: .1rem;
  -webkit-border-radius: .1rem;
  color: #000;
  z-index: 21;
}
.message .close {
  position: absolute;
  display: block;
  padding: .1rem;
  top: -0.2rem;
  left: -0.15rem;
  margin: 0 0 0 .05rem;
  color: #ccc;
  width: .2rem;
  height: .2rem;
}
.message .close i {
  font-size: .24rem !important;
}
.message.modal1 {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0.1rem .2rem .2rem .2rem;
}
.message.modal1 .close {
  margin: 0.1rem 0 0 0 !important;
}
.message.modal1 .modal1_title {
  height: .3rem;
  line-height: .3rem;
  color: #333;
  font-size: .17rem;
  border-bottom: 1px solid #f5f5f5;
}
.message.modal1 .btn-color {
  width: 100%;
  border: 0;
  height: .4rem;
  line-height: .4rem;
  border-radius: .04rem;
  -webkit-border-radius: .04rem;
  font-size: .15rem;
}
.screenLock {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
}
.message .title {
  position: relative;
  text-align: center;
  height: .2rem;
  line-height: .2rem;
  font-size: .16rem;
}
.message .content {
  padding: .1rem;
  font-size: .16rem;
  line-height: .25rem;
  text-align: center;
  color: #666;
  font-weight: 100;
}
.message .buttonGroup:after {
  content: ' ';
  clear: both;
}
.message .buttonGroup {
  padding-top: .1rem;
}
.message .buttonGroup .leftBtn,
.message .buttonGroup .rightBtn,
.message .buttonGroup .btn {
  width: 50%;
  float: left;
  border: 0px;
  height: .4rem;
  background-color: transparent;
  outline: none;
  transition-duration: .2s;
  font-size: .16rem;
}
.message .buttonGroup .btn {
  width: 100% !important;
  border-bottom-right-radius: .1rem;
  border-bottom-left-radius: .1rem;
  border-top: 1px solid #eee;
  color: #e84c3d;
}
.message .buttonGroup .btn-color {
  color: #fff;
  background-color: #e84c3d;
}
.message .buttonGroup .leftBtn {
  border-top: 1px solid #eee;
  box-sizing: border-box;
  border-bottom-left-radius: .1rem;
}
.message .buttonGroup .rightBtn {
  background-color: #e84c3d;
  border-bottom-right-radius: .1rem;
  color: #fff;
}
.message .buttonGroup button[disabled] {
  background-color: #ccc;
}
.blur {
  filter: blur(10px);
}
.messageBox-modal2 .close {
  padding: 0 !important;
  display: block;
  border-radius: 50%;
  background-color: #fff;
  /*box-shadow: 0px 0px 5px 2px #FFF0F5;*/
  left: auto !important;
  right: -0.05rem !important;
  top: -0.25rem !important;
  margin: 0;
  color: #e84a4d;
  font-size: .3rem !important;
}
.messageBox-modal2 .close .icon-guanbi:before {
  content: "\e6a1" !important;
  position: relative;
  top: -0.04rem;
  left: -0.02rem;
}
